<div class="container">
  <h1 style="text-align: center;text-decoration: underline">Characters</h1>
  
  <div *ngIf="allCharacters.length>0" class="row character-head">
    <div *ngFor="let char of allCharacters" class="characters">
      <div class="card col-md-12">
        <div class="card-header">
          <div *ngIf="char.name">
            {{char.name}}
          </div>
          <div *ngIf="!char.name">
            {{char.aliases}}
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Character</h5>
          <p class="card-text">He/She is one of many prominent characters in Game Of Thrones</p>
          <div>
            <a class="btn btn-primary" [routerLink]="['/view',char.url]">View</a>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <br>

  <h1 style="text-align: center;text-decoration: underline">Houses</h1>
  <div *ngIf="allHouses.length>0" class="row house-head">
    <div *ngFor="let house of allHouses" class="houses">
      <div class="card col-md-12">
        <div class="card-header">
          {{house.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">House</h5>
          <p class="card-text">This is one of the many prominent houses in the Game Of Thrones</p>
          <div>
            <a [routerLink]="['/view',house.url]" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  

  <br>
  <h1 style="text-align: center;text-decoration: underline">Books</h1>

  <div *ngIf="allBooks.length>0" class="row books-head">
    <div *ngFor="let book of allBooks" class="books">
      <div class="card col-md-12">
        <div class="card-header">
          {{book.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Books</h5>
          <p class="card-text">This is one of the book which is the base for the Game Of Thrones</p>
          <div>
            <a [routerLink]="['/view',book.url]" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>

</div>
